:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.header {
  background-image: linear-gradient(
      rgba(238, 193, 193, 0.312),
      rgba(114, 68, 68, 0.7)
    ),
    url("./Images/PublicImages/image-2.jpg");
  background-size: cover;
  opacity: var(--mainOpacity);
  height: 25em !important;
  color: rgba(255, 255, 255, 0.881);
}

.dark-overlay {
  background-color: rgba(205, 179, 92, 0.464);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-color {
  background-color: #957843;
}

.navbar-expand-lg navbar-dark main-color py-3 {
  background-color: #b9944f76;
}

/*.nav-link {*/
/*  color: white;*/
/*}*/

.carousel {
  border-radius: 10px;
  padding-top: 10px;
  border: solid 10px #b9944f76;
}

.container {
  border-radius: 10px;
  /* border: solid 1px black; */
}

.col-image-left {
  background-image: url("./Images/PublicImages/image-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em !important;
  border-radius: 10px;
  margin-left: 10px;
}

.col-image-right {
  background-image: url("./Images/PublicImages/image-1.jpg");
  background-position: 70% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em !important;
  border-radius: 10px;
  margin-right: 10px;
}

.lost-image {
  background-image: url("./Images/PublicImages/image-4.jpg");
  background-position: 100% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em !important;
  border-radius: 10px;
}

.homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 5px;
}

.book-div {
  width: 480px;
  height: 384px;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.d-none {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover {
  background-color: #bf2105e2;
}

li:hover {
  background-color: #bf2105e2;
  border-radius: 10px;
}